[Unit]

Description=AutoShots

After=syslog.target

[Service]

Type=simple

User=pp

Group=pp

WorkingDirectory=/home/pp

ExecStart=/home/pp/AutoShots/AutoShots.py

StandardOutput=syslog

StandardError=syslog

[Install]

WantedBy=multi-user.target
